.setting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setting-container div {
    font-size: 1.5rem;
}

.setting-container button {
    padding: 0 1rem;
    font-size: 2rem;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

.setting-container button:hover {
    color: aqua;
}